.p-card-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-autocomplete-input {
  width: 100% !important;
}

.p-button-icon-only {
  background-color: #6366f1;
}

.p-selectbutton {
  display: flex;
  flex-wrap: wrap;

  .p-button.p-component {
    margin: 3px;
    font-size: 0.8rem;
    padding: 2px 7px;
    border-radius: 10px !important;
  }
}

.p-accordion-header-link {
  padding: 12px 10px !important;
}

#addressList.p-selectbutton {
  display: flex;
  flex-direction: column;

  .p-button {
    margin: 8px 0;
  }
}
